<div ...attributes class="incident">
  <div class="pr-5">
  {{#each @issues as |incident|}}
  {{#if (eq incident.state @state)}}
  {{incident.repo}}
    <IssueHead @issue={{incident}} @withName={{@withName}}/>
    {{#if (eq this.incidentType "scheduled")}}
    <Scheduled @issue={{incident}} />
    {{else}}
    <Investigating @issue={{incident}} />
    <Update @issue={{incident}} />
    {{#if (eq @state "closed")}}
      <Resolved @issue={{incident}} />
    {{/if}}
    {{/if}}
  {{/if}}
  {{/each}}
</div>

</div>
