<div ...attributes class="repo-box {{this.statusClass.border}}" role="alert">
  <span>{{@name}}</span>
  <span class="{{this.statusClass.faColor}}">
    <FaIcon @icon="{{this.statusClass.fa}}"/>
    &nbsp;&nbsp;{{this.statusClass.text}}
  </span>
</div>
