<strong>{{ model.name }}</strong> (total {{ model.publicRepos }})
{{#each model.issues as |issue|}}
<p>{{issue.title}}</p>
{{/each}}
<ul>
  {{#each model.repositories as |repo|}}
    <li>
      {{repo.fullName}} ({{repo.language}}, {{repo.stargazersCount}} stars)
    </li>
  {{/each}}
</ul>
