<div class="d-flex justify-content-center flex-column align-items-center">
  {{#each model.repositories as |repo|}}
    <RepoBox @name={{repo.name}} @open={{repo.open_issues}} @issues={{repo.issues}}/>
    {{#if (gt repo.open_issues 0)}}
    <Incident @issues={{repo.issues}} />
    {{/if}}
  {{/each}}
</div>
{{outlet}}
